{% extends "src/views/layout.njk" %}


{% block mainContent %}

  <img src="https://media.licdn.com/dms/image/C5603AQEQbPFe2NVxpw/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=hpT1Mj1EwxqeqE-BQB3CWCy6LK2XjIsf_z2xUoxmsq0" id="class-nickname-headshot" alt="Isaac">
  <span id="class-nickname-name">victorious-hornet</span>

  <img src="https://media.licdn.com/dms/image/C5603AQEQbPFe2NVxpw/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=hpT1Mj1EwxqeqE-BQB3CWCy6LK2XjIsf_z2xUoxmsq0" id="class-nickname-headshot" alt="Isaac">

  <span id="class-nickname-name">talented-cheetah</span>

  <img src="https://media.licdn.com/dms/image/C5603AQEQbPFe2NVxpw/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=hpT1Mj1EwxqeqE-BQB3CWCy6LK2XjIsf_z2xUoxmsq0" id="class-nickname-headshot" alt="Isaac">

  <span id="class-nickname-name">jolly-hare</span>

  <img src="https://media.licdn.com/dms/image/C5603AQEQbPFe2NVxpw/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=hpT1Mj1EwxqeqE-BQB3CWCy6LK2XjIsf_z2xUoxmsq0" id="class-nickname-headshot" alt="Isaac">

  <span id="class-nickname-name">lucky-emu</span>

{% endblock %}
