{% extends "src/views/layout.njk" %}

{% block title %}About RSVPeasy{% endblock %}


{% block mainContent %}

<body class="bg-light">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFVW5VF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

      <section class="jumbotron text-center">
        <div class="container">
           <img class="mb-4" src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/RS2779_153509972-low.jpg?itok=PxUf1CG7" alt="RSVPeasy Logo" width="72" height="72" >
          <h2 class="jumbotron-heading">RSVPeasy</h1>
          <p class="lead text-muted">The Team<p>
          </p>
        </div>
      </section>


      <div class="container">

        <!-- Four columns of text below the carousel -->
        <div class="row">

          <div class="col-lg-3">
            <img class="rounded-circle align-middle" src="https://media.licdn.com/dms/image/C4D03AQEuZ7GXb_LrYQ/profile-displayphoto-shrink_800_800/0?e=1549497600&v=beta&t=-RZtieF_rrbGnSngrdEIuAQ2HmcIOmFC42WplrhIw2M" id="class-nickname-headshot"  alt="Generic placeholder image" width="140" height="140"><br>
            <span class="h5 align-middle" id="class-nickname-name">lucky-emu</span>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-3">
            <img class="rounded-circle align-middle" src="https://media.licdn.com/dms/image/C5603AQEQbPFe2NVxpw/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=hpT1Mj1EwxqeqE-BQB3CWCy6LK2XjIsf_z2xUoxmsq0" id="class-nickname-headshot"  alt="Generic placeholder image" width="140" height="140"><br>
            <span class="h5 align-middle" id="class-nickname-name">jolly-hare</span>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-3">
            <img class="rounded-circle align-middle" src="https://media.licdn.com/dms/image/C4D03AQEWFxlHSGUQ3Q/profile-displayphoto-shrink_800_800/0?e=1549497600&v=beta&t=3kmjQWx-sO2f_aSH9FH0z06Sv6Z8RQSTmx9qWAVBvaQ" id="class-nickname-headshot"  alt="Generic placeholder image" width="140" height="140"><br>
            <span class="h5 align-middle" id="class-nickname-name">talented-cheetah</span>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-3">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQEQbPFe2NVxpw/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=hpT1Mj1EwxqeqE-BQB3CWCy6LK2XjIsf_z2xUoxmsq0" id="class-nickname-headshot"  alt="Generic placeholder image" width="140" height="140"><br>
            <span class="h5 align-middle" id="class-nickname-name">victorious-hornet</span>
          </div><!-- /.col-lg-4 -->


        </div><!-- /.row -->
      </div>

{% endblock %}
