<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RSVPeasy event manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<header>
  <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/RS2779_153509972-low.jpg?itok=PxUf1CG7" alt="RSVPeasy Logo">
  <h1>RSVPeasy</h1>
</header>

<body>

    <h2>Puffy Light's RSVP for MGT 660</h2>

    <p>
        Our new app will be dope - just give us some time ;)
    </p>

    <p>
        <b>Upcoming events:</b>
    </p>
    <ul>
      {% for e in event %}
        <h2 id="title">{{e.title}}</h2>
        <br />
        <time>{{e.date}}</time>
        {% endfor %}
    </ul>

</body>

<a href="/events/new" id="new">Create an event</a>

<footer>
  <a href="/about">About</a>
  <a href="/">Home</a>
</footer>

</html>
