{% extends "src/views/layout.njk" %}


{% block mainContent %}

  <img src="{{event.image_url}}" alt="RSVPeasy Logo">


  <h1>{{event.title}}</h1>

  <p>
    <time>{{event.date}}</time>
  </p>

{% endblock %}
