{% extends "src/views/layout.njk" %}

{% block title %}RSVPeasy{% endblock %}

{% block mainContent %}
    <body class="bg-light">

      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFVW5VF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


      <section class="jumbotron text-center">
        <div class="container">
          <img id="logo" class="mb-4" src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/RS2779_153509972-low.jpg?itok=PxUf1CG7" alt="RSVPeasy Logo" width="72" height="72" >
          <h2 class="jumbotron-heading">RSVPeasy</h1>
          <p class="lead text-muted">Puffy Light's RSVP for MGT 660<p>
          <hr class="my-4">
          <p>Push the button to create a new event</p>
          <a class="btn btn-dark align-middle" role="button" href="/events/new">Create an event</a>
        </div>
      </section>
    <p>
        <b>Upcoming events:</b>
    </p>
    <ul>
      {% for event in eventList %}
      <li class="event" id="event-0">
        <a href="/events/{{event.id}}" id="title">{{event.title}}</a>
        <br />
        <time>{{event.date}}</time>
      </li>
        {% endfor %}
    </ul>

<a href='/events/new' id='new'>Create an event</a>
{% endblock %}
