{% extends "src/views/layout.njk" %}


{% block mainContent %}


    <h2>Puffy Light's RSVP for MGT 660</h2>

    <p>
        Our new app will be dope - just give us some time ;)
    </p>

    <p>
        <b>Upcoming events:</b>
    </p>
    <ul>
      {% for event in eventList %}
      <li class="event" id="event-0">
        <a href="/events/{{event.id}}" id="title">{{event.title}}</a>
        <br />
        <time>{{event.date}}</time>
      </li>
        {% endfor %}
    </ul>
{% endblock %}
