{% extends "src/views/layout.njk" %}


{% block mainContent %}

    <h1>Creating a new event</h1>
    <form action="/events/new" method="post">
        <label for="title">Title</label>
        <input name="title" type="text"/>
        <br />
        <label for="location">Location</label>
        <input name="location" type="text"/>
        <br />
        <label for="image">Image</label>
        <input name="image" type="text"/>
        <br />
        <label for="year">Year</label>
        <select name="year">
            <option>2017</option>
            <option>2018</option>
        </select>
        <br />
        <label for="month">Month</label>
        <select name="month">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
        </select>
        <br />
        <label for="day">Day</label>
        <select name="day">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
        </select>
        <br />
        <label for="hour">Hour</label>
        <select name="hour">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
        </select>
        <br />
        <label for="minute">Minute</label>
        <select name="minute">
            <option>00</option>
            <option>30</option>
        </select>
        <br />
        <button type="submit" name="submit" class="btn">Submit</button>

{% endblock %}
