<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Add a new Event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<header>
  <h1>New Event</h1>
</header>

<body>

    <h1>Creating a new event</h1>
    <form action="/eventcreated.html" method="post">
        Title
        <br>
        <input type="text" name="title" value="">
        <br>
        Image
        <br>
        <input type="text" name="image" value="">
        <br>
        Location
        <br>
        <input type="text" name="location" value="">
        <br>
        Month
        <br>
        <input type="text" name="month" value="">
        <br>
        Day
        <br>
        <input type="text" name="day" value="">
        <br>
        Hour
        <br>
        <input type="text" name="hour" value="">
        <br>
        Minute
        <br>
        <input type="text" name="minute" value="">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
